$fuente-menu: 'Roboto', sans-serif;
$fuente-titulos-footer: 'Roboto', sans-serif;
$fuente-titulos: 'Open Sans', sans-serif;
$fuente-parrafo: 'Roboto', sans-serif;

$fuente-400: 400;
$fuente-600: 600;
$fuente-700: 700;

$size-menu: 17px;
$size-sub-menu: 16px;

$fuente-open-sans: 'Open Sans', sans-serif;
$fuente-roboto: 'Roboto', sans-serif;


