
$color-gris-oscuro:   #616161;
$color-primario:        #9E9E9E;
$color-primario-claro:  #F5F5F5;
$texto-iconos-color:   #212121;
$color-naranja:        #f26a21;

$texto-secundario: #757575;
$color-divisor:   #BDBDBD;


$text-color-title:   #212121;
$text-color-menu:   #212121;
$text-color-submenu:   #212121;
$color-letras-hover-menu:        #f26a21;
$text-color-footer: white;

$background-color: rgba(242,106,33,0.9);
$background-color-footer: #616161; 