@import "palette";
@import "fonts";

@media (max-width: 768px) { 
	.logo {
		float: left;
	}

	.menu {
		margin-top: 40px;
	}
	
 }
 @media (max-width: 768px) { 
/*	.menu {
		display: flex;
		justify-content: space-between;
	 
	}*/
 }




body {
	background: #F5F5F5;
}

.white{
	background:white;
}

.navbar {
	margin-bottom: 0px;
}

.carousel-control {
	background: transparent !important;
	
}

/*section {
	margin-top: 80px;
	margin-bottom: 80px;
}*/



h2{
	font-family: $fuente-titulos;
	font-weight: 700;
	font-size: 32px;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -50px;
	/*text-align: center;*/
	color: $text-color-title;
}

h3{
	color: white;
}

section {
	margin-top: 90px;
	margin-bottom: 40px;
	height: 470px;
}

/*NAVBAR*/

.navbar {
	margin-bottom: 0px;
	padding: 0;
	font-family: $fuente-menu;
	font-size: $size-menu;
	color: $text-color-menu;
	background: white;


	div img{ margin-left: -32px;}
	
	
	ul{

		.dropdown-menu{
		font-family: $fuente-menu;
		font-size: $size-sub-menu;
		color: $text-color-submenu;
		
		li a:hover{color: $color-letras-hover-menu;}

		}
	}
}



.navbar-right{
		.btn{
			background: $color-naranja;
			border: none;
			font-family: $fuente-menu;
			font-size: $size-menu;
			color: $text-color-menu;
			font-weight: $fuente-600;
		}
	}


.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: none;
    color: $color-letras-hover-menu;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

/*CAROUSEL*/

.carousel-control {
	background: transparent !important;
}

/*QUIENES SOMOS*/

.first-section{
	font-size: 17px;
	font-family: $fuente-parrafo;

	font-weight: 400;
	background: $background-color;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	
	h2{text-align: center;}
	
}

/*DONDE ESTAMOS*/

.section-donde-estamos{
	h2{text-align: center;}
}

/*FOOTER*/

footer{
    background: $background-color-footer;
    h3{
    	font-style: $fuente-titulos-footer;
    	text-align: center;
    }
    .list-group{
    	text-align: center;
    
    a{
    	background: none;
    	color: $text-color-footer;
    	font-size: 15px;
    	border: 0;
    	padding-right: 10;
    	padding-left: 10;
    	width: 140px;
    	margin: 0 auto;
    	}
	}
.imagen{
	margin-top: 50px;
  	margin-left: 50px;
  }

.form-group{
	padding: 0;
	margin: 0 auto;
	margin: -10px;
}

textarea{margin-bottom: 10px;}
}

